.singleItem {
    background-color: #ccced1;
    color:#e21f1f;
    border: 2px solid black;
    height: 100px;
}
.number {
    background-color: red;
    text-align: center;
    color:white;
    border:1px solid black;
}
.flex {
    display: flex;
    margin:10px;
    padding: 20px;
}