.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background-image: url("./assets/serbia.svg"); */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 65% 80%;
  background-position: center;
}

.Site-content {
  flex: 1;
  color: brown;
  flex: 1 0 auto;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#RS-06 {
  fill: red;
}

